textarea{
  display:block;
  box-sizing:border-box;
  width:100%;
  resize:none;
}

.code{
  background-color: lightgrey;
  padding:2px;
  border: 2px solid black;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  margin-right:4px;
}